[run]
source = ./
branch = True

[report]
omit =
    */tests/*
    */migrations/*
    */wsgi.py
    */urls.py
    */settings.py
    manage.py
    settings.py

show_missing = True
skip_covered = True
exclude_lines =
    if settings.DEBUG
    pragma: no cover
