[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-netfields = "*"
djangorestframework = "*"
"psycopg2-binary" = "*"
fqdn = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
"autopep8" = "*"
