[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-netfields = "*"
djangorestframework = "*"
"psycopg2-binary" = "*"
fqdn = "*"
coreapi = "*"
pyyaml = "*"
apistar = "*"
drf-yasg = "*"
django-cors-headers = "*"
django-prometheus = "*"
drf-nested-routers = "*"
"ldap3" = "*"
django-mptt = "*"
djangorestframework-simplejwt = "*"
mozilla-django-oidc = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
"autopep8" = "*"
pylint-django = "*"
rope = "*"
pytest-django = "*"
coverage = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "python manage.py runserver"
test = "pytest -sv"
lint = "flake8 ."
