[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-netfields = "*"
djangorestframework = "*"
"psycopg2-binary" = "*"
fqdn = "*"
coreapi = "*"
pyyaml = "*"
apistar = "*"
django-cors-headers = "*"
django-prometheus = "*"
drf-nested-routers = "*"
django-mptt = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
environ-config = "*"
drf-oidc-auth = ">=1.0.0"

[dev-packages]
mypy = "*"
pylint = "*"
autopep8 = "*"
flake8 = "*"
pylint-django = "*"
rope = "*"
pytest-django = "*"
coverage = "*"


[requires]
python_version = "3.8"

[scripts]
dev = "python manage.py runserver"
test = "pytest -sv"
lint = "flake8 ."
